
body {
    font-family:Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6be1cd;
    padding: 1rem 2rem;
    text-align: center;
    
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #06010f;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    
}

.nav-links a:hover {
    color: #5b21b6;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card {
    background-color: #ecd06a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
}

h1, h2, h3 {
    color: #480aab;
}

.bio-table {
    width: 100%;
    border-collapse: collapse;
}
.bio-table td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}
.bio-table tr:last-child td {
    border-bottom: none;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6be1cd;
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.bottom-nav .nav-links {
    justify-content: center;
    display: flex;
    padding: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #6ef8e3;
    color: #090909;
    margin-top: auto;
}